<div class="container">
  <h4>Booking Request:</h4>
  <%= simple_form_for [bear, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: "btn btn-flat" %>

  <% end %>
</div>
