<h1>Your account</h1>
<%# include edit name(s) link %>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<%# include edit email link %>
<p><%= current_user.email %></p>

<%# edit password %>
<%= link_to "Edit your password", edit_user_password_path, class: "btn btn-flat" %>

<%# delete user account %>
