<div class="footer">
  <div class="f-container">
    <div class="row">
      <div class="footer-col">
        <h4>Team info</h4>
        <ul>
          <li><a href="#">Nate</a></li>
          <li><a href="#">Maria</a></li>
          <li><a href="#">Luis</a></li>
          <li><a href="#">Alexandros</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Bear rentals</h4>
        <ul>
          <li><a href="#">bear rental info</a></li>
          <li><a href="#">browse bears</a></li>
          <li><a href="#">pricing</a></li>
          <li><a href="#">reserve a bear</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
