


<section class="about">
  <div class="content">
    <%= image_tag "fist bump.jpg", height: 300, width: 400, :class => "img"%>
    <div class="text">
      <h1>About Us</h1>
      <h5>Junior Full Stack Developers</h5>
      <p>Our team of junior full stack developers brings a diverse set of
      skills and experiences to the table. With our expertise in front-end and back-end development
      we're confident that they'll make valuable contributions to our organization. We look forward
      to seeing what they can achieve!</p>
      <button type="button">Hire Us</button>
    </div>
  </div>
</section>
