<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('pexels-wilson-vitorino-2782682') %>)">
  <div class="container">
    <h1>Bear bnb</h1>
    <p>Your one-stop shop for Giant Teddy Bear rentals</p>
  </div>
</div>

<div class="container">
  <p>
    Do you have a big event approaching?
    <br>
    Do you want to surprise someone with a nice Giant Teddy Bear, but don't want to deal with the hassle of owning one?
    <br>
    Do you simply want to be ensconced in the fuzzy embrace of a stuffed animal?
  </p>

  <p>
    Bear bnb was conceived for people who want the <strong>WOW</strong> factor of a Giant Teddy Bear,
    <br>
    but not the hassle of ownership
  </p>

  <%= link_to "See the bears", bears_path, class: "btn btn-flat mb-4" %>
</div>
