<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('pexels-wilson-vitorino-2782682') %>)">
  <div class="container">
    <h1>Bear bnb</h1>
    <p>Your one-stop shop for Giant Teddy Bear rentals</p>
  </div>
</div>
